{%extends 'base.html' %}
{% load semanticui %}
{%block content %}
<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form" method="POST">
            {% csrf_token %}

            {{form.non_field.errors}}

            <div class="field">
                {% render_field form.email %}
            </div>

            <div class="field">
                {% render_field form.password %}
            </div>
            <button class="ui submit button">
                Login
            </button>
        </form>
    </div>
    <div class="four wide column"></div>
</div>
{%endblock%}