{% load dsu %}
{% load semanticui %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neighborhood Watch</title>
    {% dsu_stylesheet_url %}
</head>
<body>
    {%block content%} 
    <div class="ui grid">
            <div class="four wide column"></div>
            <div class="eight wide column" style="margin-top: 50px;">
                    <div class="ui inverted form">
                            <h3>REGISTER TO KIBRA HOOD WATCH</h3>
                            <div class="ui inverted segment">
                                
                                <form class="ui inverted form" method="POST">
                                    {% csrf_token %}
                                    {{form.non_field.errors}}
        
                                    <div class="field">
                                            {%render_field form.full_name %}
                                        </div>
                                        <div class="field">
                                            {%render_field form.username %}
                                        </div>
                                        <div class="field">
                                            {% render_field form.email %}
                                        </div>
                                        <div class="field">
                                            {% render_field form.password %}
                                        </div>
                                        <div class="field">
                                            <label>Location</label>
                                            <select class="ui dropdown" name='location' required>
                                                <option value="">Select your Location</option>
                                                <option value="woodley">Woodley</option>
                                                <option value="makina">Makina</option>
                                                <option value="lindi">Lindi</option>
                                            </select>
                                        </div>
                                        <button class="ui submit button">
                                            Register
                                        </button>
                                </form>
                                <div >
                                    <span>Already have an account?</span>
                                    <a href="{%url 'login' %}" style="color: white; text-decoration: underline;">Login</a>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="four wide column"></div>
        </div>    
    
    {%endblock%}
    {%block footer%}
    <footer style="margin-top: 50px;">
        {%include 'footer.html'%} 
    </footer>
    {%endblock%}
    {%block scripts%}
        {% dsu_jquery_url %}
        {% dsu_javascript_url %}
        <script>
            $('.ui.dropdown')
              .dropdown()
            ;
        </script>
    {%endblock%}
</body>
</html>



