{%extends 'base.html' %}
{% load semanticui %}
{%block content%}
<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <form class="ui form" method="POST" >
            {%csrf_token%}
            {{ form.non_field_errors }}
            <div class="field">
                {%render_field form.full_name %}
            </div>
            <div class="field">
                {%render_field form.username %}
            </div>
            <div class="field">
                {% render_field form.email %}
            </div>
            <div class="field">
                {% render_field form.password %}
            </div>
            <div class="field">
                <label>Location</label>
                <select class="ui dropdown" name='location' required>
                    <option value="">Select your Location</option>
                    <option value="woodley">Woodley</option>
                    <option value="makina">Makina</option>
                    <option value="sarangombe">Sarang'ombe</option>
                    <option value="lainisaba">Laini Saba</option>
                    <option value="lindi">Lindi</option>
                </select>
            </div>
            <button class="ui submit button">
                Register
            </button>
        </form>
    </div>
    <div class="four wide column"></div>
</div>
{%endblock%}

{%block scripts%}
{{block.super}}
<script>
$('.ui.dropdown')
  .dropdown()
;
</script>
{%endblock%}