<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="five wide column">
          <h4 class="ui inverted header">Admin</h4>
          <div class="ui inverted link list">
            <a href="/admin/" class="item">Visit Admin Site</a>
          </div>
        </div>
        <div class="five wide column" style="text-align: center;">Kibra Neighborhood Watch</div>
        <div class="five wide column">
            <h4 class="ui inverted header">Kibra Hoods/Locations</h4>
            <div class="ui inverted link list">
              <a class="item">Lindi</a>
              <a class="item">Laini Saba</a>
              <a class="item">Makina</a>
              <a class="item">Sarang'ombe</a>
              <a class="item">Woodley</a>
            </div>
        </div>
      </div>
    </div>
</div>