<div class="ui menu">
    <div class="header item">
      Home
    </div>
    <a class="item">
      About Us
    </a>
    <a class="item">
      Jobs
    </a>
    <a class="item">
      Locations
    </a>
    <div class="right menu">
      <div class="ui compact menu">
        <div class="ui simple dropdown item">
          Account
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Profile</div>
            <div class="item"></div>
            <div class="item">Sign Out</div>
          </div>
        </div>
      </div>
    </div>
</div>