{%extends 'base.html' %}
{%load static%}
{% load semanticui %}
{%block content %}
<div class="ui grid">
    <div class="two wide column"></div>
    <div class="eight wide column">
        <div class="three wide column" style="display: flex; flex-direction: row;">
            <div class="profilePic" >

            </div>
            <div class="ui segments">
                <div class="ui segment" style="width:400px">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                              <div class="header">Full Name</div>
                              <div class="meta" style="float: right; margin-top:15px;">{{user.full_name  }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                              <div class="header">Username</div>
                              <div class="meta" style="float: right; margin-top:15px;">{{user.username}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                              <div class="header">Email</div>
                              <div class="meta" style="float: right; margin-top:15px;">{{user.email}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                              <div class="header">Neighborhood</div>
                              <div class="meta" style="float: right; margin-top:15px;">{{hood.neighborhood.location}}</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                              <div class="header" style="font-size: 17px;">Location</div>
                              <div class="meta" style="float: right; margin-top:15px;">{{hood.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="five wide column" style="margin-top: 20px;">
            <div class="ui styled accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                <span>Edit Name</span>
                </div>
                <div class="content">
                    <form class="ui form" method="POST">
                        {%csrf_token%}
                        <div class="field">
                            <label>Full Name</label>
                            <input type="text" name="full_name" required>
                        </div>
                        <button class="ui submit button">Change Name</button>
                    </form>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                  <span>Add Content to {{hood.name|capfirst}}</span>
                  </div>
                  <div class="content" style="display: flex;flex-direction: column;">
                    <a href="#" class="transition hidden" id="businessModal">Add a Business</a>
                    <a class="transition hidden" id="posts">Post about your Location</a>
                    
                    <div class="ui modal pic">
                        <div class="header">Change Profile Pic</div>
                        <div class="content">
                            <form action="{% url 'change_pic' %}" method="POST" class="ui form" enctype="multipart/form-data">
                                {%csrf_token%}
                                <div class="field">
                                    {%render_field pic_form.profile_pic _no_label='true'%}
                                </div>
                                <button class="ui submit button">Upload</button>
                            </form>
                        </div>
                    </div>
                    <!-- MODAL FOR BUSINESS -->
                    <div class="ui modal business">
                        <div class="header">Add A Business to {{hood.name}}</div>
                        <div class="content">
                                <div class="three wide column">
                                      <form class='ui form' method="POST" action="{% url 'business'%}">
                                          {%csrf_token%}
                                          <div class="field">
                                              {%render_field business_form.name%}
                                          </div>
                                          <div class="field">
                                              {%render_field business_form.description%}
                                          </div>
                                          <div class="field">
                                              <label>Business Category</label>
                                              <select class="ui dropdown" name='category' required>
                                                  <option value="">Select category</option>
                                                  <option value="carpentry">Carpentry</option>
                                                  <option value="electronics">Electronics</option>
                                                  <option value="hardware">Hardware</option>
                                                  <option value="liqour">Liquor Store</option>
                                                  <option value="restaurant">Restaurant</option>
                                                  <option value="salon">Salon & Beauty</option>
                                              </select>  
                                          </div>
                                          <div class='field'>
                                              <label>Contacts</label>
                                              <label><small>Email or Phone Number</small></label>
                                              {%render_field business_form.contacts _no_label='true' _placeholder='Contacts'%}
                                          </div>
                                          <button type="submit" class="ui submit button">Add Business</button>
                                      </form>
                                </div>
                        </div>
                    </div>
                    <!-- MODAL FOR POSTS -->
                    <div class="ui modal posts">
                        <div class="header">Create A Post.{{hood.name}}</div>

                        <div class="content">
                                <div class="three wide column">
                                      <form class='ui form' method="POST" action="{% url 'posts' hood.name %}">
                                          {%csrf_token%}
                                          <div class="field">
                                              {%render_field post_form.title%}
                                          </div>
                                          <div class="field">
                                              {%render_field post_form.description%}
                                          </div>
                                          <div class="field">
                                              <label>Post Category</label>
                                              <select class="ui dropdown" name='category' required>
                                                  <option value="">Select category</option>
                                                  <option value="business">Business</option>
                                                  <option value="security">Security/Threats</option>
                                                  <option value="welfare">Location Welfare</option>
                                              </select>  
                                          </div>
                                          <button type="submit" class="ui submit button">Post</button>
                                      </form>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                  <span>Move out of {{hood.name|capfirst}}</span>
                  </div>
                  <div class="content">
                    <form class="ui form" method="POST">
                        {%csrf_token%}
                        <div class="field">
                            <label>Location</label>
                            <hr>
                            <label><small>Choose another Location within Kibra Neighborhood</small></label>
                            <select class="ui dropdown" name='location' required>
                                <option value="">Select your Location</option>
                                <option value="woodley">Woodley</option>
                                <option value="makina">Makina</option>
                                <option value="sarangombe">Sarang'ombe</option>
                                <option value="lainisaba">Laini Saba</option>
                                <option value="lindi">Lindi</option>
                            </select>                        
                        </div>
                        <button class="ui submit button">Move Out</button>
                    </form>
                </div>
            </div>

    </div>
    <div class="column"></div>

</div>

<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui top attached tabular menu" style="padding-left: 300px;">
            <a class="item active" data-tab="first">Your Businesses</a>
            <a class="item" data-tab="second">Your Posts</a>
            <a class="item" data-tab="third">Your Activity</a>
          </div>
          <div class="ui bottom attached tab segment active" data-tab="first">
            <div class="ui cards">
            {%for business in user_business %}
                <div class="card">
                  <div class="content">
                    <div class="header">{{business.name}}</div>
                    <div class="meta">
                        <span>{{business.category}}|{{business.hood.name}}</span>
                        <span>{{business.contacts}}</span>
                    </div>
                    <div class="description">
                        {{business.description}}
                    </div>
                  </div>
                </div>
            {%endfor%}
            </div> 
          </div>

          <div class="ui bottom attached tab segment" data-tab="second">
                <div class="ui cards">
                    {%for post in user_posts %}
                    <div class="card">
                      <div class="content">
                        <div class="header">{{post.title}}</div>
                        <hr>
                        <div class="meta">
                            <span>{{post.category}}|{{post.hood.name}}</span>
                        </div>
                        <div class="description">
                            {{post.description}}
                        </div>
                      </div>
                    </div>
                    {%endfor%}
                </div>
          </div>
          <div class="ui bottom attached tab segment" data-tab="third">
            No activity
          </div>
    </div>
    <div class="two wide column"></div>

</div>



{%block css%}
{{block.super}}
<style>
.profilePic {
    background-image: url('{{user.profile_pic.url}}'); 
    cursor: pointer;
    height: 200px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    margin-top: 70px;
    margin-right: 10px;
}
</style>
{%endblock%}
{%endblock%}

{%block scripts%}
{{block.super}}

<script>
$('.ui.accordion')
  .accordion()
;
$('.ui.dropdown')
  .dropdown()
;
$('.ui.modal.business')
  .modal('attach events','#businessModal','show')
;
$('.ui.modal.posts')
  .modal('attach events','#posts','show')
;
$('.ui.modal.pic')
  .modal('attach events','.profilePic','show')
;
$('.menu .item')
  .tab()
;

</script>
{%endblock%}

