{%extends 'base.html' %}
{% load semanticui %}


{%block content %}
<div class="ui internally celled grid">
    <div class="row">
      <div class="four wide column">
        <h4>Public Services</h4>
      </div>
      <div class="eight wide column">
        <h4>Posts about {{hood.name|capfirst}}</h4>
      </div>
      <div class="four wide column">
        <h4>Businesses in {{hood.name|capfirst}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="four wide column">
        <img>
      </div>
      <div class="eight wide column">
          <div class="ui cards">
            <div class="card">
              <div class="content">
                <div class="header">Elliot Fu</div>
                <div class="meta">Friend</div>
                <div class="description">
                  Elliot Fu is a film-maker from New York.
                </div>
            </div>
          </div>
      </div>
      <div class="four wide column">
          <div class="ui accordion">
            {%for business in businesses%}
              <div class="title">
                <i class="dropdown icon"></i>
                {{business.name}}
              </div>  
              <div class="content">
                <p class="transition hidden">{{business.description}}</p>
                <p class="transition hidden">{{business.contacts}}</p>
              </div>
            {%endfor%}
          </div>
      </div>
    </div>
  </div>
  
{%endblock%}

{%block scripts%}
{{block.super}}

<script>
$('.ui.accordion')
  .accordion()
;
$('.ui.dropdown')
  .dropdown()
;
</script>
{%endblock%}