{%extends 'base.html' %}
{% load semanticui %}


{%block content %}
<div class="ui internally celled grid">
    <div class="row">
      <div class="four wide column">
        <h4>Public Services</h4>
      </div>
      <div class="eight wide column">
        <h4>Posts about {{hood.name|capfirst}}</h4>
      </div>
      <div class="four wide column">
        <h4>Businesses in {{hood.name|capfirst}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="four wide column">
          <div class="ui styled accordion">

              <div class="title">
                <i class="dropdown icon"></i>
                Police
              </div>
              <div class="content">
                {%for service in public_services_police %}
                <div class="accordion">
                  <div class="title">
                      <i class="dropdown icon"></i>
                      {{service.name}}
                  </div>
                  <div class="content">
                    <div class="accordion">
                      <div class="title">
                          <i class="dropdown icon"></i>
                          Contacts
                      </div>
                      <div class="content">
                          {{service.contacts}}
                      </div>
                    </div>
                  </div>
                </div>
                {%endfor%}
              </div>
              <div class="title">
                  <i class="dropdown icon"></i>
                  Health & Sanitary Services
                </div>
                <div class="content">
                  {%for service in public_services_health %}
                  <div class="accordion">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        {{service.name}}
                    </div>
                    <div class="content">
                      <div class="accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Contacts
                        </div>
                        <div class="content">
                            {{service.contacts}}
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
              </div>
  
          </div>
      </div>
      <div class="eight wide column">
          <div class="ui cards">
            {%for post in posts %}
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="{{post.user.profile_pic.url}}">
                <div class="header">{{post.title}}</div>
                <hr>
                <div class="meta">{{post.category}}|{{post.posted|timesince}}</div>
                <div class="description">
                  {{post.description}}
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
      </div>

      <div class="four wide column">
          <div class="ui styled accordion">
            <div class="title">
              <i class="dropdown icon"></i>
              Carpentry
            </div>
            {%for business in carpentry %}
              <div class="content">
                <div class="accordion">
                  <div class="title">
                    <i class="dropdown icon"></i>
                    {{business.name}}
                  </div>
                  <div class="content">
                    <p>{{business.description}}</p>
                    <p>Contacts: {{business.contacts}}</p>
                  </div>
                </div>
              </div>
            {%endfor%}
            <div class="title">
                <i class="dropdown icon"></i>
                Electronics
            </div>
            {%for business in electronics %}
                <div class="content">
                  <div class="accordion">
                    <div class="title">
                      <i class="dropdown icon"></i>
                      {{business.name}}
                    </div>
                    <div class="content">
                      <p>{{business.description}}</p>
                      <p>Contacts: {{business.contacts}}</p>
                    </div>
                  </div>
                </div>
            {%endfor%}
            <!--  -->
            <div class="title">
                <i class="dropdown icon"></i>
                Hardware
              </div>
              {%for business in hardware %}
                <div class="content">
                  <div class="accordion">
                    <div class="title">
                      <i class="dropdown icon"></i>
                      {{business.name}}
                    </div>
                    <div class="content">
                      <p>{{business.description}}</p>
                      <p>Contacts: {{business.contacts}}</p>
                    </div>
                  </div>
                </div>
            {%endfor%}
            <div class="title">
                <i class="dropdown icon"></i>
                Liquor
              </div>
              {%for business in liqour %}
                <div class="content">
                  <div class="accordion">
                    <div class="title">
                      <i class="dropdown icon"></i>
                      {{business.name}}
                    </div>
                    <div class="content">
                      <p>{{business.description}}</p>
                      <p>Contacts: {{business.contacts}}</p>
                    </div>
                  </div>
                </div>
            {%endfor%}
            <div class="title">
                <i class="dropdown icon"></i>
                Restaurant
              </div>
              {%for business in restaurant %}
                <div class="content">
                  <div class="accordion">
                    <div class="title">
                      <i class="dropdown icon"></i>
                      {{business.name}}
                    </div>
                    <div class="content">
                      <p>{{business.description}}</p>
                      <p>Contacts: {{business.contacts}}</p>
                    </div>
                  </div>
                </div>
            {%endfor%}
            <div class="title">
                <i class="dropdown icon"></i>
                Salon
              </div>
              {%for business in salon %}
                <div class="content">
                  <div class="accordion">
                    <div class="title">
                      <i class="dropdown icon"></i>
                      {{business.name}}
                    </div>
                    <div class="content">
                      <p>{{business.description}}</p>
                      <p>Contacts: {{business.contacts}}</p>
                    </div>
                  </div>
                </div>
            {%endfor%}
          </div>
      </div>
    </div>
  </div>
  
{%endblock%}

{%block scripts%}
{{block.super}}

<script>
$('.ui.accordion')
  .accordion()
;
$('.ui.dropdown')
  .dropdown()
;
</script>
{%endblock%}